.applicationCard {
    width: 100%;
}

@media screen and (min-width: 480px) {
    .applicationCard {
        min-width: var(--max-width-xs);
        flex: 1;
    }
}

.max60chContainer {
    max-width: var(--max-width-60ch);
}