.container {
    display: flex;
    flex-direction: column;

    /*border-radius: var(--radius-2);*/
    /*border: 1px solid var(--color-border);*/
}

.bordered {
    border: 1px solid var(--color-border);
}

.bordered:first-child {
    border-radius: var(--radius-3) var(--radius-3) 0 0;
    border-bottom: 0;
}

.bordered:last-child {
    border-radius: 0 0 var(--radius-3) var(--radius-3);
    border-top: 0;
}