.container {
    color: var(--color-text-primary);
    background-color: var(--color-background);
    display: flex;
    flex-direction: column;
    gap: var(--dimension-3);
    margin: auto;
    text-align: center;
    border-radius: var(--radius-3);
}


.heading {
    color: var(--color-heading);
}

.fitted {
    width: fit-content;
    margin: auto;
}