.container {
    justify-content: space-between;
    background-color: var(--color-blue-4);
    width: 100%;

    position: sticky;
    top: 0;
    z-index: 10;

    border-bottom: 1px solid var(--color-border);
}

.triColor {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.saffronLine {
    width: 100%;
    border: 1px solid var(--color-saffron-1);
}

.whiteLine {
    width: 100%;
    border: 1px solid var(--color-white-1);
}

.greenLine {
    width: 100%;
    border: 1px solid var(--color-green-1);
}


.menuContainer {
    width: 100%;
    display: flex;
    flex-direction: row;
    padding: var(--dimension-2);
    justify-content: space-between;
}

.dropDownMenu {
    display: flex;
    flex-direction: column;
    gap: var(--dimension-2);
    position: absolute;
    top: calc(100px + var(--padding-section-s));
    left: 0;
    background-color: var(--color-blue-4);
    width: 100%;
    padding: var(--padding-section-s);

    hr {
        border: 1px solid var(--color-border);
    }
}

@media screen and (min-width: 480px) {
    .dropDownMenu {
        display: none;
    }
}

.menuItemLink {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.ctaButton {
    text-align: center;
    height: fit-content;
    flex-grow: 0;

}

.linkCarrier {
    display: flex;
    flex-direction: column;
    gap: var(--dimension-2);

    padding: 0 var(--dimension-4);
}

.hide {
    display: none !important;
}

.transform {
    transform: rotate(180deg);
}

.hamBurgerMenuItem {
    height: var(--font-size-m);
    width: var(--font-size-m);
    color: var(--color-white-1);
}

.hamburgerMenuButton {
    all: unset;
}

@media screen and (min-width: 480px) {
    .hamburgerMenuButton {
        display: none;
    }
}


/*###########*/
/*# MENUBAR #*/
/*###########*/

.Root {
    display: flex;
    padding: var(--dimension-1);
    border-radius: var(--radius-1);

    color: var(--color-text-primary);
    gap: var(--dimension-2);
    z-index: 10;
}

.Trigger {
    all: unset;

    outline: none;
    user-select: none;

    display: flex;
    align-items: center;
    justify-content: space-between;

    font-family: var(--font-family-p), sans-serif;
    font-size: var(--font-size-m);
    font-style: normal;
    font-weight: var(--font-weight-normal);
    line-height: var(--line-height-n);
    padding: var(--dimension-1) var(--dimension-2);
}

.Trigger[data-highlighted],
.Trigger[data-state="open"] {
    background-color: var(--color-foreground);
}

.Trigger:hover {
    cursor: pointer;
}

.Content {
    background-color: var(--color-blue-4);
    border-radius: var(--radius-1);
    border: 1px solid var(--color-border);
    color: var(--color-text-primary);
    padding: var(--dimension-1);
    animation-duration: 400ms;
    animation-timing-function: cubic-bezier(0.16, 1, 0.3, 1);
    will-change: transform, opacity;
    z-index: 11;
}

.Item {
    all: unset;
    border-radius: 4px;
    display: flex;
    align-items: center;

    padding: var(--dimension-1);
    position: relative;
    user-select: none;
    color: var(--color-text-primary);

    font-family: var(--font-family-p), sans-serif;
    font-size: var(--font-size-s);
    font-style: normal;
    font-weight: var(--font-weight-light);
    line-height: var(--line-height-n);
}

.Item:hover {
    cursor: pointer;
}

.label {
    text-align: center;
    width: fit-content;
    margin: auto;

    font-family: var(--font-family-p), sans-serif;
    font-size: var(--font-size-m);
    font-style: normal;
    font-weight: var(--font-weight-light);
    line-height: var(--line-height-n);
}


.Item[data-state="open"] {
    background-color: var(--color-foreground);
}

.Item[data-highlighted] {
    background-color: var(--color-foreground);
}

.Item[data-disabled] {
    pointer-events: none;
}

.Separator {
    height: 1px;
    background-color: var(--color-border);
    margin: 5px;
}


[data-highlighted] > .RightSlot {
    color: white;
}


.desktop {
    display: none;
}

@media screen and (min-width: 480px) {
    .desktop {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: var(--dimension-2);
        align-items: center;
    }
}