.max60chContainer {
    max-width: var(--max-width-60ch);
}

.highlightcard {
    background-color: var(--color-background);
    color: var(--color-text-primary);

    display: flex;
    flex-direction: column;
    gap: var(--padding-section-s);
    padding: var(--dimension-3);
    border-radius: var(--radius-3);
}

@media screen and (min-width: 480px) {

    .highlightcard {
        flex-direction: row;
        align-items: center;

        div {
            flex: 1;
        }
    }
}

.green {
    color: var(--color-green-1);
}

.keyApplicationsCard {
    width: 100%;
}

@media screen and (min-width: 480px) {
    .keyApplicationsCard {
        min-width: var(--max-width-xs);
        flex: 1;
    }
}