.contactUs {
    display: flex;
    flex-direction: column;
    gap: var(--dimension-2);
    padding: var(--dimension-3);

    color: var(--color-text-primary);
    background-color: var(--color-background);
    border-radius: var(--radius-3);
}

.whoShouldContactUS {
    display: flex;
    flex-direction: column;
    gap: var(--dimension-2);
    padding: var(--dimension-3);

    color: var(--color-text-primary);
    background-color: var(--color-foreground);
    border-radius: var(--radius-3);
    border: 1px solid var(--color-border);
}

.saffron {
    color: var(--color-saffron-1);
}

.green {
    color: var(--color-green-1);
}

.formContainer {
    display: flex;
    flex-direction: column;
    gap: var(--dimension-2);
    width: 100%;
    padding: var(--dimension-3);

    border-radius: var(--radius-3);
    border: 1px solid var(--color-border);
    background-color: var(--color-foreground);
}

.heading {
    color: var(--color-heading);
}

/*.flex {*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*}*/

.centeredText {
    text-align: center;
    margin-top: var(--dimension-4);
}

.minWidth431 {
    width: 100%;
}

@media screen and (min-width: 480px) {
    .minWidth431 {
        flex: 1 1 431px;
    }
}